.divReset img{
    /* width: clamp(200px, 20%, 500px);*/
    max-width: 300px;
    max-height: 300px;
}

.divReset{
    display:flex;
    justify-content: center;
}

h5{
    justify-content: center;
}



.recuperarSenha{
    width: 40%;
    border: 1px solid #dfdfdf;
    margin-top: 150px !important;
    margin-bottom: 50px !important;
    border-radius: 2px;
    padding: 50px 10px;
    min-width: 300px;
}

div label {
    font-size: 14px;
}

hr{
    margin: 10px;
}